<!-- start custom head snippets -->

{% include analytics.html %}

<!-- Google site verification -->
<meta name="google-site-verification" content="G4sJV3jbXHLWVg7wpWtvW1SGHRHHLJRdTGSXrK0ZYzQ" />

<!-- Google fonts -->
      <link href="https://fonts.googleapis.com/css?family=Lora|Playfair+Display:900|Roboto" rel="stylesheet">

<!--favicon package from http://realfavicongenerator.net/ -->
      <link rel="apple-touch-icon" sizes="152x152" href="assets/img/favicon/apple-touch-icon.png">
      <link rel="icon" type="image/png" href="/assets/img/favicon/favicon-32x32.png" sizes="32x32">
      <link rel="icon" type="image/png" href="/assets/img/favicon/favicon-16x16.png" sizes="16x16">
      <link rel="manifest" href="/assets/img/favicon/manifest.json">
      <link rel="mask-icon" href="/assets/img/favicon/safari-pinned-tab.svg" color="#5bbad5">
      <meta name="theme-color" content="#ffffff">

<!--Emoji CSS from https://afeld.github.io/emoji-css/ -->
      <link href="/assets/css/emoji.css" rel="stylesheet">

<!-- Material Design Icons from http://zavoloklom.github.io/material-design-iconic-font/ -->
      <link href="/assets/css/material-design-iconic-font.min.css" rel="stylesheet">

<!-- Material Design Colour Scheme from http://zavoloklom.github.io/material-design-color-palette/ -->
      <link href="/assets/css/material-design-color-palette.min.css" rel="stylesheet">

<!-- Animate CSS from https://github.com/daneden/animate.css -->
      <link href="/assets/css/animate.css" rel="stylesheet">

<!-- Google fonts -->
    <link href="https://fonts.googleapis.com/css?family=Lora|Playfair+Display:900|Roboto" rel="stylesheet">

<!-- end custom head snippets -->