{% if posts.teaser %}
  {% capture teaser %}{{ posts.teaser }}{% endcapture %}
{% else %}
  {% assign teaser = site.teaser %}
{% endif %}

{% if teaser contains "://" %}
     {% capture teaser %}{{ teaser }}{% endcapture %}       
{% else %}
   {% capture teaser %}{{ teaser | absolute_url }}{% endcapture %}
{% endif %}

{% if posts.id %}
  {% assign title = posts.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = posts.title %}
{% endif %}

<div class="{{ include.type | default: "list" }}__item">
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
      
<!--post image-->
      {% if teaser %}
      <div class="container-fluid">
          <div class="row">
              <div class="archive__item-teaser" style="background-image: url( {{ teaser }});"></div>
          </div>
      </div>
    {% endif %}
<!--date-->
    {% capture year %}{{ posts.date | date: '%Y' }}{% endcapture %}
    {% capture month %}{{ posts.date | date: '%B' }}{% endcapture %}
    {% capture day %}{{ posts.date | date: '%e' }}{% endcapture %}
    {% if day != written_day %}
      <h3 id="{{ day | slugify }}" class="archive__subtitle">{{ day }} {{month}}, {{ year }}</h3>
    {% capture written_day %}{{ day }}{% endcapture %}
    {% endif %}
<!--posts title-->
    <h2 class="archive__item-title" itemprop="headline">
      {% if posts.link %}
        <a href="{{ posts.link }}">{{ title }}</a> <a href="{{ posts.url | absolute_url }}" rel="permalink"><i class="fa fa-link" aria-hidden="true" title="permalink"></i><span class="sr-only">Permalink</span></a>
      {% else %}
        <a href="{{ posts.url | absolute_url }}" rel="permalink">{{ title }}</a>
      {% endif %}
    </h2>
<!--End posts title -->
    {% if post.read_time %}
      <p class="page__meta"><i class="fa fa-clock-o" aria-hidden="true"></i> {% include read-time.html %}</p>
    {% endif %}
    {% if posts.excerpt %}<p class="archive__item-excerpt" itemprop="description">{{ posts.excerpt | markdownify | strip_html | truncate: 160 }}</p>{% endif %}
  </article>
</div>